@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 173.38px 153px 162px 121px;
}

.container .box-1 h1 {
  margin-bottom: 20px;
  color: #000;
  font-family: Roboto Slab;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 101.385%;
}

.top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 90px;
}
.box-1{
  width: 662px;
}
.box-1 p {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.box-2 img{
  width: 314px;
  height: 315px
}

.bottom-container {
  display: flex;
}

.box-4 {
  display: flex;
  margin-left: 132px;
  align-items: center;
}

.box-4 h2 {
  margin-bottom: 1px;
  color: #000;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.box-4 p {
  width: 150px;
  height: 39px;
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.center-container {
  margin-left: 95px;
}

.rigth-container {
  margin-left: 93px;
}
